{% extends 'layout/base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <section class="recovery pb_100">
        <div class="container">
            {% if validlink %}
                <form class="enter__wrap enter__wrap_registration" method="post" action=".">
                    <h1 class="section__title text_center mb_30">
                        Введите ваш новый пароль дважды:
                    </h1>

                    <div class="form__wrap form__wrap_registration">
                        {% if form.errors %}
                            <ul class="messages">
                                {% for field in form %}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <li class="messages__item error">{{ error|escape }}</li>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="input__group input__group_name">
                            {{ form.new_password1 }}
                            <p class="place_span">{{ form.new_password1.label }}</p>
                        </div>
                        <div class="help-text">
                            {{ form.new_password1.help_text }}
                        </div>
                        <div class="input__group input__group_name">
                            {{ form.new_password2 }}
                            <p class="place_span">{{ form.new_password2.label }}</p>
                        </div>
                        {% csrf_token %}
                        <button class="btn enter__btn mb_30">
                            <span class="effect__bg"></span>
                            <span>
                                Сменить
                            </span>
                            <svg class="ms-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 7L17 17" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                </path>
                                <path d="M17 7V17H7" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                </path>
                            </svg>
                        </button>
                    </div>
                </form>
            {% else %}
                <div class="enter__wrap enter__wrap_confirmation">
                    <p>
                        Ссылка на сброс пароля недействительна, возможно она уже была использована.
                        Сделайте, пожалуйста, <a href="{% url 'password_reset' %}">новый сброс пароля</a>.
                    </p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}