{% extends 'layout/base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <section class="recovery pb_100">
        <div class="container">
            <form class="enter__wrap enter__wrap_registration" method="post" action=".">
                <h1 class="section__title text_center mb_30">
                    Введите Ваши зарегистрированные данные
                </h1>
                <div class="form__wrap form__wrap_registration">
                    <div class="input__group input__group_name">
                        {{ form.email }}
                        <p class="place_span">E-mail</p>
                    </div>
                    {% csrf_token %}
                    <button class="btn enter__btn mb_30">
                        <span class="effect__bg"></span>
                        <span>
                            Отправить
                        </span>
                        <svg class="ms-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7L17 17" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                            </path>
                            <path d="M17 7V17H7" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                            </path>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}