{% extends 'layout/base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <section class="recovery pb_100">
        <div class="container">
            <div class="enter__wrap enter__wrap_registration">
                <h1 class="section__title text_center mb_30">
                    Проверьте Ваш почтовый ящик.
                </h1>
                <p class="text-center p-x-2">Мы отправили на Ваш почтовый ящик письмо с дальнейшими инструкциями по восстановлению пароля.</p>
            </div>
        </div>
    </section>
{% endblock %}