{% extends 'layout/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <section class="enter pb_100">
        <div class="container">
            <div class="enter__wrap enter__wrap_registration">
                <h1 class="section__title text_center mb_30">
                    Регистрация
                </h1>
                <form action="." method="post" class="form__wrap form__wrap_registration">
                    {% include 'partials/form_messages.html' %}
                    {% csrf_token %}
                    <div class="input__group input__group_name">
                        {{ profile_form.fullname }}
                        <p class="place_span">{{ profile_form.fullname.label }}</p>
                        {{ profile_form.fullname.errors }}
                    </div>
                    <div class="input__group input__group_name">
                        {{ register_form.email }}
                        <p class="place_span">{{ register_form.email.label }}</p>
                        {{ register_form.email.errors }}
                    </div>
                    <div class="input__group input__group_pass">
                        {{ register_form.password }}
                        <p class="place_span">{{ register_form.password.label }}</p>
                        {{ register_form.password.errors }}
                    </div>
                    <div class="input__group input__group_pass">
                        {{ register_form.password2 }}
                        <p class="place_span">{{ register_form.password2.label }}</p>
                        {{ register_form.password2.errors }}
                    </div>
                    <div class="input__group input__group_phone">
                        {{ profile_form.phone }}
                        <p class="place_span">{{ profile_form.phone.label }}</p>
                        {{ profile_form.phone.errors }}
                    </div>
                    <div class="input__group input__group_city">
                        {{ profile_form.city }}
                        <p class="place_span">{{ profile_form.city.label }}</p>
                        {{ profile_form.city.errors }}
                    </div>
                    <div class="input__group input__group_street">
                        {{ profile_form.street }}
                        <p class="place_span">{{ profile_form.street.label }}</p>
                        {{ profile_form.street.errors }}
                    </div>
                    <div class="input__group input__group_house">
                        {{ profile_form.house }}
                        <p class="place_span">{{ profile_form.house.label }}</p>
                        {{ profile_form.house.errors }}
                    </div>
                    <div class="input__group input__group_flat">
                        {{ profile_form.apartment }}
                        <p class="place_span">{{ profile_form.apartment.label }}</p>
                        {{ profile_form.apartment.errors }}
                    </div>
                    <div class="popup__option mb_30 d-flex justify-content-evenly">
                        <label class="checkbox__wrap d-flex align-items-center">
                            <span class="wpcf7-form-control-wrap acceptance-750">
                                <span class="wpcf7-form-control wpcf7-acceptance">
                                    <span class="wpcf7-list-item">
                                        {{ register_form.agree }}
                                    </span>
                                </span>
                            </span>
                            <span class="checkbox__text mb-0 fz_16">
                                {{ register_form.agree.label }}
                            </span>
                        </label>
                    </div>
                    <button type="submit" class="btn enter__btn mb_30">
                        <span class="effect__bg"></span>
                        <span>
                            Зарегистрироваться
                        </span>
                        <svg class="ms-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7L17 17" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                            </path>
                            <path d="M17 7V17H7" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                            </path>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}