{% extends 'layout/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <section class="enter pb_100">
        <div class="container">
            <div class="enter__wrap enter__wrap_registration">
                <h1 class="section__title text_center mb_30">
                    Регистрация
                </h1>
                <p class="text-center p-x-2">Ваша учетна запись успешно создана. Теперь вы можете <a href="{% url 'login' %}">войти</a>.</p>
            </div>
        </div>
    </section>
{% endblock %}