{% extends 'layout/account.html' %}

{% block title %}Ваш профиль{% endblock %}

{% block account_content %}
    <h2 class="profile__subtitle fz_22 fw_demi mb_35">
        Личная информация
    </h2>
    <form action="." method="post" class="form__wrap form__wrap_registration mx-0">
        {% include 'partials/form_messages.html' %}
        {% csrf_token %}
        <div class="input__group input__group_name">
            {{ profile_form.fullname }}
            <p class="place_span">{{ profile_form.fullname.label }}</p>
            {{ profile_form.fullname.errors }}
        </div>
        <div class="input__group input__group_name">
            {{ register_form.email }}
            <p class="place_span">{{ register_form.email.label }}</p>
            {{ register_form.email.errors }}
        </div>
        <div class="input__group input__group_phone">
            {{ profile_form.phone }}
            <p class="place_span">{{ profile_form.phone.label }}</p>
            {{ profile_form.phone.errors }}
        </div>
        <div class="input__group input__group_city">
            {{ profile_form.city }}
            <p class="place_span">{{ profile_form.city.label }}</p>
            {{ profile_form.city.errors }}
        </div>
        <div class="input__group input__group_street">
            {{ profile_form.street }}
            <p class="place_span">{{ profile_form.street.label }}</p>
            {{ profile_form.street.errors }}
        </div>
        <div class="input__group input__group_house">
            {{ profile_form.house }}
            <p class="place_span">{{ profile_form.house.label }}</p>
            {{ profile_form.house.errors }}
        </div>
        <div class="input__group input__group_flat">
            {{ profile_form.apartment }}
            <p class="place_span">{{ profile_form.apartment.label }}</p>
            {{ profile_form.apartment.errors }}
        </div>
        <div class="password__block pos_rel">
            <p class="change__pass">
                Изменить пароль
            </p>
            <div class="input__group input__group_pass">
                {{ password_change_form.old_password }}
                <p class="place_span">{{ password_change_form.old_password.label }}</p>
                {{ password_change_form.old_password.errors }}
            </div>
            <div class="input__group input__group_pass">
                {{ password_change_form.password }}
                <p class="place_span">{{ password_change_form.password.label }}</p>
                {{ password_change_form.password.errors }}
            </div>
            <div class="input__group input__group_pass">
                {{ password_change_form.password2 }}
                <p class="place_span">{{ password_change_form.password2.label }}</p>
                {{ password_change_form.password2.errors }}
            </div>
        </div>
        <button class="btn enter__btn mb_30">
            <span class="effect__bg"></span>
            <span>
                Сохранить изменения
            </span>
            <svg class="ms-2" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M7 7L17 17" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round">
                </path>
                <path d="M17 7V17H7" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round">
                </path>
            </svg>
        </button>
    </form>
{% endblock %}