{% extends 'layout/account.html' %}

{% block title %}Мои заявки{% endblock %}

{% block account_content %}
    <div class="title_row d-flex">
        <h2 class="profile__subtitle fz_22 fw_demi mb_35">
            Мои заявки
        </h2>
        <a href="{% url 'tickets_add' %}" class="ticket_new">
            + Новая заявка
        </a>
    </div>
    {% include 'partials/form_messages.html' %}
    {% if tickets %}
        <div class="table__wrap table__wrap_ticket">
            <table>
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Тема заявки</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                        {% include 'partials/archive_ticket.html' %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'partials/pagination.html' with page=tickets %}
    {% else %}
        <p class="none__info">
            У Вас еще нет заявок
        </p>
    {% endif %}
{% endblock %}